<h1>⭒ To Do List ⭒</h1>
<ul>
    <% tarefas.forEach(tarefa=> { %>
        <li>
            <h2>
                <%= tarefa.titulo %>
            </h2>
            <p>
                <%= tarefa.descricao %>
            </p>
            <p>
                <%= tarefa.status %>
            </p>
            <a href="/tarefas/<%= tarefa.idtodo_list %>/editar">Editar</a>
           <form action="/tarefas/<%= tarefa.idtodo_list %>/excluir" method="POST" style="display: inline;">
                <button type="submit">Excluir</button>
            </form>
            <form action="/tarefas/<%= tarefa.idtodo_list %>/atualizar-status" method="POST" style="display: inline;">
                <select name="status">
                    <option value="feita" <%=tarefa.status==='feita' ? 'selected' : '' %>>Feita</option>
                    <option value="fazendo" <%=tarefa.status==='fazendo' ? 'selected' : '' %>>Fazendo</option>
                    <option value="à fazer" <%=tarefa.status==='à fazer' ? 'selected' : '' %>>À Fazer</option>
                </select>
                <button type="submit">Atualizar Status</button>
            </form>
        </li>
        <% }); %> 
</ul>


<form action="/tarefas" method="POST">
    <input type="text" name="titulo" placeholder="Nova Tarefa" required>
    <input type="text" name="descricao" placeholder="Descrição" required>

    <form action="/tarefas/<%= tarefas.idtodo_list %>/atualizar-status" method="POST" style="display: inline;">
        <select name="status">
            <option value="feita" <%=tarefas.status==='feita' ? 'selected' : '' %>>Feita</option>
            <option value="fazendo" <%=tarefas.status==='fazendo' ? 'selected' : '' %>>Fazendo</option>
            <option value="à fazer" <%=tarefas.status==='à fazer' ? 'selected' : '' %>>À Fazer</option>
        </select>
        <button type="submit">Adicionar</button>
    </form>
</form>
